Options -MultiViews -Indexes
RewriteEngine on

RewriteRule ^([-a-zA-Z0-9_+]+)$ index.php?uc1=$1 [L]
RewriteRule ^([-a-zA-Z0-9_+]+)/$ index.php?uc1=$1 [L]

RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?uc1=$1&uc2=$2 [L]
RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/$ index.php?uc1=$1&uc2=$2 [L]

RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?uc1=$1&uc2=$2&uc3=$3 [L]
RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/$ index.php?uc1=$1&uc2=$2&uc3=$3 [L]

RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?uc1=$1&uc2=$2&uc3=$3&uc4=$4 [L]
RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/$ index.php?uc1=$1&uc2=$2&uc3=$3&uc4=$4 [L]

RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)$ index.php?uc1=$1&uc2=$2&uc3=$3&uc4=$4&uc5=$5 [L]
RewriteRule ^([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/([-a-zA-Z0-9_+]+)/$ index.php?uc1=$1&uc2=$2&uc3=$3&uc4=$4&uc5=$5 [L]