html, body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}
html {
}

div {
	margin:0;
	padding:0;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight:lighter;
	text-transform:uppercase;
	margin-bottom:3px;
	font-size:40px;
}

.h1 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	padding:0;
	margin:0;
	margin:5px;
}

.lighter {
	font-weight:100;
	margin-left:15px;
}

.ligne {
	margin:10px;
	width:1%;
	height:1px;
	background-color:white;
	border:1px solid white;
	border-radius:1000px;
	animation-duration: 3s;
	animation-name: percent;
	animation-fill-mode: both;
}
@keyframes percent {
	from {
		margin:10px;
		width:1%;
		height:1px;
		background-color:white;
		border:1px solid white;
		border-radius:100%;
	}

	to {
		margin:10px;
		width:60%;
		height:1px;
		background-color:white;
		border:1px solid white;
		border-radius:100%;
	}
}

.none {
	display:none;
}

.locker {
	color:red;
}

.title {
	margin:0;
	padding:0;
	padding:25px;
}